{{!
Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
І котрий обгортає код container файлів для будь-яких ендпоїнтів
}}

<html>

<head>
    <title>
        {{page.title}}
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
    <style>
        li {
            list-style-type: none;
            /* Убираем маркеры */
        }

        ul {
            margin-left: 0;
            /* Отступ слева в браузере IE и Opera */
            padding-left: 0;
            /* Отступ слева в браузере Firefox, Safari, Chrome */
        }
    </style>
</head>

<body>

    {{! ↓ ця кострукція показує куди шаблонізатору треба вставляти код з container файлу }}
    {{{body}}}

</body>

</html>